body{
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.custom-filter
{
    margin-bottom:0;
}
.user-panel>.info {
padding:0;
position: static;
}
.breadcrumb{
    background-color: transparent;
    color: #f5f5f5;
}
.breadcrumb a{
    color: #f5f5f5;
}

.content-header>h1{
    font-size:20px;
}